<%- include('partials/head') %>
<div>
  <a href="/search/<%= previous %>">
    <button type="button" class="back-btn">
      <img
        src="../../../../img/left-arrow.min.svg"
        alt="Terug knop"
        width="35px"
        height="35px"
      />
    </button>
  </a>
  <div id="wrapper">
    <div class="detail">
      <h1 class="f-start"><%= detailData.title %></h1>
      <div class="fixed-ratio" style="padding-bottom: 50%;">
        <div class="fixed-ratio-content">
          <% const url = detailData.webImage.url %> <% const imgBaseUrl =
          url.substring(0, url.length - 2); %>
          <img
            alt="<%= detailData.title %>"
            sizes="(min-width: 1301px) calc(25vw - 60px), (min-width: 851px) calc(33.33vw - 40px), (min-width: 801px) calc(50vw - 40px), (min-width: 501px) calc(50vw - 20px), 100vw"
            class="lazy-image"
            src="<%= imgBaseUrl %>w200"
            srcset="<%= imgBaseUrl %>w300 300w, 
              <%= imgBaseUrl %>w500 500w,
              <%= imgBaseUrl %>w800 800w,
              <%= imgBaseUrl %>w1000 1000w"
          />
        </div>
      </div>
      <p class="bold f-start"><%= detailData.principalMakers.name %></p>
      <p class="f-start"><%= detailData.objectTypes[0] %></p>
      <p class="f-start"><%= detailData.dating.presentingDate %></p>

      <div id="colorWrapper" class="f-start">
        <% detailData.colors.map(item => {%>
        <div
          class="color-circle"
          style="background-color: <%= item.hex %>"
        ></div>
        <%}) %>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
