<%- include('partials/head') %>
<div>
  <a href="/">
    <button type="button" class="back-btn">
      <img
        src="../img/left-arrow.min.svg.gz"
        alt="Terug knop"
        width="35px"
        height="35px"
      />
    </button>
  </a>
  <div id="wrapper">
    <% if(overviewData.length !== 0) {%> <% overviewData.map(item => { %>
    <a class="card" href="/c/<%= color %>/object/<%= item.objectNumber %>">
      <div class="fixed-ratio" style="padding-bottom: 50%;">
        <div class="fixed-ratio-content">
          <% const url = item.webImage.url %> <% const imgBaseUrl =
          url.substring(0, url.length - 2); %>
          <img
            alt="<%= item.title %>"
            sizes="(min-width: 1301px) calc(25vw - 60px), (min-width: 851px) calc(33.33vw - 40px), (min-width: 801px) calc(50vw - 40px), (min-width: 501px) calc(50vw - 20px), 100vw"
            class="lazy-image"
            src="<%= imgBaseUrl %>w200"
            srcset="<%= imgBaseUrl %>w300 300w, 
              <%= imgBaseUrl %>w500 500w,
              <%= imgBaseUrl %>w800 800w,
              <%= imgBaseUrl %>w1000 1000w"
          />
        </div>
      </div>

      <div>
        <h2><%= item.title %></h2>
        <h3><%= item.principalOrFirstMaker %></h3>
      </div>
    </a>
    <% });%> <% } else {%>
    <span>Er is iets fout gegaan.</span>
    <% }%>
  </div>
</div>
