<%- include('partials/head') %>
<div>
  <a href="/">
    <button type="button" class="back-btn">
      <img
        src="../img/left-arrow.min.svg"
        alt="Terug knop"
        width="35px"
        height="35px"
      />
    </button>
  </a>
  <div id="wrapper">
    <% if(overviewData.length !== 0) {%> <% overviewData.map(item => { %>
    <a class="card" href="/c/<%= color %>/object/<%= item.objectNumber %>">
      <div class="fixed-ratio" style="padding-bottom: 50%;">
        <div class="fixed-ratio-content">
          <img src="<%= item.webImage.url %>" alt="<%= item.title %>" />
        </div>
      </div>

      <div>
        <h2><%= item.title %></h2>
        <h3><%= item.principalOrFirstMaker %></h3>
      </div>
    </a>
    <% });%> <% } else {%>
    <span>Er is iets fout gegaan.</span>
    <% }%>
  </div>
</div>
<%- include('partials/footer') %>
